@import "../css/base.scss";
.layout-logo{
	color: #FFF;
	img{
		height: 35px;
		width: auto;
	}
}

.symbin-main-menu{
	background: #333744!important;
}
.ivu-menu-submenu-title{
	background: #42485B!important;
}
.ivu-menu-submenu-title-icon{
	float: left!important;
}
.ivu-menu-item{
	padding-left: 24px!important;
}
i.ivu-icon-ionic{
	opacity: 0;
}
.ivu-menu-item > a > i{
	margin-right: 6px;
}
